/* ======== Global Styles ========= */

* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: .5rem;
    width: 900px;
    font-family: 'Roberto', sans-serif;
    background-color: #e6f2ff;
    line-height: 1.2;
}

/* ======== Typography ========= */

.container-header {
    display: flex;
    gap: 600px;
    width: 100%;
    margin-bottom: 4rem;
}

h1, h2, h3, h4 {
    font-weight: 700;
}

h1 {
    color: #1D215E;
    font-size: 2rem;
}

h2 {
    color: #fff;
}

p {
    font-size: .73rem;
    color: #0023F5;
    opacity: 3;
}

.courses-paragraph {
    opacity: 5;
}

.courses-subheadings {
    color: #1D215E;
}

a {
    color: #cc6699;
    text-decoration: none;
}

/* ======== Logos ========= */

.logo-header {
    width: 60px;
    height: 15px;
    justify-self: flex-start;
    align-self: center;
}

.logo-footer {
    padding-left: 20px;
    justify-self: flex-start;
    align-self: center;
    width: 75px;
    height: 15px;
    color: #fff;
}

/* ======== Buttons ========= */

.btn {
    cursor: pointer;
}

.header-btn {
    background-color: #1D215E;
    justify-self: flex-end;
}

.header-btn:hover {
    position: relative;
    top: -4;
    text-decoration: underline;
    background-color: #E65A69;
}

.promo-btn {
    background-image: linear-gradient(#FF5F08, #E65A69);
}

.promo-btn:hover {
    position: relative;
    top: -4;
    text-decoration: underline;
    background-color: #1D215E;
}

a.btn {
    color: #fff;
    margin-right: 100px;
    margin-left: 0;
    text-decoration: none;
    border-radius: 27px;
    font-size: .70rem;
    padding: 8px 20px;
}

.courses-link:hover {
    text-decoration: underline;
    background-color: #1D215E;
}

.footer-btn {
    background-color: #AC28B8;
    justify-self: flex-end;

}

.footer-btn:hover {
    position: relative;
    top: -4;
    text-decoration: underline;
    background-color: #E65A69;
}

/* ======== Layout ========= */

.container-promo {
    display: grid;
    grid-template-columns: 280px 280px;
    grid-template-areas:
        "h1 ."
        "p ."
        "promo-btn .";    
}

h1 {
    grid-area: h1;
    margin-bottom: 1rem;
}

p {
    grid-area: p;
    margin: 0;
}

.promo-btn {
    grid-area: promo-btn;
    grid-column-start: auto;
    justify-self: left;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

main {
    display: grid;
    width: 100%;
    column-gap: 2.5rem;
    row-gap: 2.2rem;
    grid-template-columns: 230px 230px 230px;
    grid-template-rows: 200px 200px;
    justify-content: start;
    margin: 20px ;
    grid-template-areas: 
        "courses-large-orange-box . svg-img-animation                . svg-img-design"
        "........................ . svg-img-photography              . svg-img-crypto              . svg-img-business"
        "........................ . courses-sub-headings-animation   . courses-sub-headings-design"
        "........................ . courses-sub-headings-photography . courses-sub-headings-crypto . courses-sub-headings-business"
        "........................ . courses-paragraph-animation      . courses-paragraph-design"
        "........................ . courses-paragraph-photography    . courses-paragraph-crypto    . courses-paragraph-business"
        "........................ . courses-link-animation           . courses-link-design"
        "........................ . courses-link-photography         . courses-link-crypto         . courses-link-business";
}

.courses-large-orange-box {
    grid-area: courses-large-orange-box;
    background-image: linear-gradient(#FF5F08, #E65A69);
    color: #fff;
    border-radius: 15px;
    align-self: center;
    padding: 60px 50px 80px 20px;
    margin-bottom: 50px;
}

.courses {
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 15px;
    padding-right: 30px;
    padding-left: 10px;
    padding-bottom: 20px;
}

.courses-link {
    align-items: end;
}

.svg-img-design {
    grid-area: svg-img-design;
}

.svg-img-photography {
    grid-area: svg-img-photography;
}

.svg-img-crypto {
    grid-area: svg-img-crypto;
}

.svg-img-business {
    grid-area: svg-img-business;
}

.courses-sub-headings-animation {
    grid-area: courses-sub-headings-animation;
}

.courses-sub-headings-design {
    grid-area: courses-sub-headings-design;
}

.courses-sub-headings-photography {
    grid-area: courses-sub-headings-photography;
}

.courses-sub-headings-crypto {
    grid-area: courses-sub-headings-crypto;
}

.courses-paragraph-animation {
    grid-area: courses-paragraph-animation;
    font-size: .72rem;
}

.svg-img-animation {
    grid-area: svg-img-animation;
}

.courses-paragraph-design {
    grid-area: courses-paragraph-design;
}

.courses-paragraph-photography {
    grid-area: courses-paragraph-photography;
}

.courses-paragraph-crypto {
    grid-area: courses-paragraph-crypto;
}

.courses-paragraph-business {
    grid-area: courses-paragraph-business;
}

.courses-link-animation {
    grid-area: courses-link-animation;
}

.courses-link-design {
    grid-area: courses-link-design;
}

.courses-link-photography {
    grid-area: courses-link-photography;
}

.courses-link-crypto {
    grid-area: courses-link-crypto;
}

.courses-link-business {
    grid-area: courses-link-business;
}

.container-footer {
    background-color: #000033;
    display: flex;
    gap: 600px;
    flex: 1 1 300px;
    align-content: center;
    padding: 20px 10px 20px 10px;
}

